DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_DATABASE=observability
DB_USERNAME=postgres
DB_PASSWORD=postgres
DATABASE_URL="${DB_CONNECTION}://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}?schema=public"

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL="redis://${REDIS_HOST}:${REDIS_PORT}"

TRAEFIK_USER=
TRAEFIK_PASSWORD=

MINIO_USER=
MINIO_PASSWORD=

GRAFANA_USER=
GRAFANA_PASSWORD=
